<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.8.1/github-markdown.min.css">
    <link rel="stylesheet" href="assets/main.css">
</head>
<body class="markdown-body">
    <header>
        <div class="blogName">
            <a href="{{homeUrl}}">{{blogName}}</a>
        </div>
    </header>

    <main>
        <div>
            {{>*partialName}}
        </div>
    </main>

    <footer>
        <p>&copy; 2025 {{blogName}}</p>
    </footer>
    </body>
</html>
