{{#content}}
<div>
    <h1>{{title}}</h1>
    <ul class="articles">
        {{#articles}}
        <li>
            <h3>
                <a href="{{url}}">{{title}}</a>
            </h3>
            <p>
                By {{author}} on {{publishedAt}}
            </p>
            {{#excerpt}}
            <p>{{excerpt}}</p>
            {{/excerpt}}
        </li>
        {{/articles}}
    </ul>
    {{^articles}}
    <p>No articles available.</p>
    {{/articles}}
</div>
{{/content}}
