{{#content}}
<div>
    <h1>{{title}}</h1>
    <ul class="posts">
        {{#posts}}
        <li>
            <h3>
                <a href="{{url}}">{{title}}</a>
            </h3>
            <p>
                By {{author}} on {{publishedAt}}
            </p>
            {{#excerpt}}
            <p>{{excerpt}}</p>
            {{/excerpt}}
        </li>
        {{/posts}}
    </ul>
    {{^posts}}
    <p>No posts available.</p>
    {{/posts}}
</div>
{{/content}}
