html {
    scrollbar-gutter: stable;
}

header {
    margin-top: 24px;
    margin-bottom: 24px;
}

header .blogName {
    font-size: 2em;
    font-weight: bold;
}

h1 {
    margin: 0;
}

ul.posts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 48px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 12px;
    }
}

footer {
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}

/* Sidebar Layout */
.container {
    display: flex;
    gap: 24px;
}

.content {
    flex: 1;
}

.sidebar {
    width: 150px;
}

.sidebar h3 {
    margin-top: 0;
    margin-bottom: 8px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .sidebar {
        width: auto;
        order: 2;
    }
}
